<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'index' %}">Assignments</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Listings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'my_assignments' %}">My parts</a></li>
						<li class="divider"></li>
						<li><a href="{% url 'by_date' %}">All by date</a></li>
						<li><a href="{% url 'by_name' %}">All by name</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedules <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'chairman_reader_schedule' %}">Chairman, Reader Schedule</a></li>
						<li><a href="{% url 'sound_schedule' %}">Sound Schedule</a></li>
						<li class="divider"></li>
						<li><a href="{% url 'incoming_speakers' %}">Incoming Speakers</a></li>
						<li><a href="{% url 'outgoing_speakers' %}">Outgoing Speakers</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilities <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/territory">Territories</a></li>
                        <li><a href="/house-holders">House Holders</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'update_all' %}">Update All</a></li>
						<li><a href="{% url 'todays_emails' %}">Emails for Today</a></li>
					</ul>
				</li>

				<li><a href="{% url 'logout' %}">Logout</a></li>
			</ul>
		</div>
	</div>
</div>